extends layout.pug

block content
  body
    .header
      p#logo keen-dolphin's
      h1 Simple Bookstore
      hr
    .main
      for book in books
        ul.book
          li#book-cover
            img(src=book.bookurl, alt='book cover')
          .book-info
            li#book-title= book.title
            li#book-author= book.author
            li#book-year= book.year
            li#book-genre= book.genre  
            .buttons
              button(type='button') Edit
              button(type='button') Delete
